html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

#search-bar {
  font-size: 14px;
  height: 40px;
  width: 95%;
  padding-left: 8px;
  border: 1px #CCCCCC solid;
  border-radius: 2px;
  margin: 8px;
}

.list-wrapper {
  position: absolute;
  width: 350px;
  z-index: 5;
  background: #F0F0F0;
  max-height: 100%;
  box-shadow: 0 8px 16px rgba(168, 168, 168, 0.5);

  &.expanded {
    height: 100%;
  }

  hr {
    border-top: 1px solid #979797;
  }
}

.label-small {
  display: inline;
  padding: .04em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  border: 1px solid;
}

.label-theme-default {
  color: #979797;
  border-color: #979797;
  background-color: #F2F2F2;
  &.active {
    color: #fff;
    border-color: #979797;
    background: transparent;
  }
}

.list-group {
  padding: 0;
  margin: 0;
  height: 80%;
  width: 100%;
  overflow-y: scroll;
  border-bottom: 1px #777 solid;
}

.list-group-item {
  .header {
    font-weight: 600;
    color: #000;
  }
  .glyphicon-star {
    color: #3AADFF;
    &.active {
      color: rgb(14, 10, 10);
    }
  }
  .glyphicon-star-empty {
    color: #D8D8D8;
    &.active {
      color: #fff;
    }
  }
  &.active > * {
    color: #fff;
  }
}

.list-group-item.active {
  &, &:hover, &:focus {
    border: 0;
    border-radius: 0;
    background-color: #46494c;
  }
  .label-default {
    color: #fff;
    border-color: #979797;
    background: transparent;
  }
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(255,255,255,.5);
}
